p, li {
    font-size: 16pt;
}

.section p, .section li, .section h1, .section h2, .section h3, .section h4 {
    color: white;
}

#aboutMe p, #aboutMe h3 {
    color: black;
}

nav .nav-wrapper ul a{
    font-size: 14pt;
}

#other-projects-carousel {
    height: 700px;
}

#other-projects-carousel .carousel-item {
    width: 400px;
    height: 500px;
}

.front-end-row {
    background-color: rgb(255, 193, 7);
}

.back-end-row {
    background-color: rgb(76, 175, 80);
}

.other-row {
    background-color: rgba(248, 148, 6, 1);
}

.no-margin {
    margin: 0;
}

.padding-1em {
    padding: 1em 0 1em 0;
}

.padding-bottom-2em {
    padding-bottom: 2em;
}

.margin-1em {
    margin: 1em 0 1em 0;
}

.margin-vert-2em {
    margin-top: 2em;
    margin-bottom: 2em;
}

.headshot {
	margin-top: 2em;
    max-width: 300px;
    border-radius: 50%;
}

.underline {
    text-decoration: underline
}

#workCarousel {
    height: 50vh;
}

/* just for jsfiddle */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
    position:absolute;
    top:45%;
}
.middle-indicator-text{
    font-size: 4.2rem;
}
a.middle-indicator-text{
    color:white !important;
}
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
}

ul.pointed {
    padding-left: 40px !important; 
    list-style-type: disc !important;
}

ul.pointed>li {
    list-style-type: disc !important;
}

.card.medium {
    height: 600px;
}

#contactMe {
    height: 800px;
}