.home {
	overflow-x:hidden;
	width:100%;
	height:100%;
}

.headshot {
	width:100%;
}

.underline {
	text-decoration:none;
	border-bottom:2px solid;
}

.headerIcon {
	height:100%;
}

.leftProjectBox {
	padding-left: 0px;
}

.contactIcon {
	padding-right: 5px;
	font-size: 2vw;
}

.aboutIcon {
	font-size: 2vw;
	text-align: center;
	display: block;
	margin-top: 25px;
}