.home {
	overflow-x:hidden;
	width:100%;
	height:100%;
}

.headshot {
	margin-top: 2em;
    width: 100%;
    border-radius: 50%;
}

.underline {
	text-decoration:none;
	border-bottom:2px solid;
}

.headerIcon {
	height:100%;
}

.leftProjectBox {
	padding-left: 0px;
}

.contactIcon {
	padding-right: 5px;
	font-size: 1vw;
	text-align: center;
	vertical-align: middle;
}

.contactInfo {
}

.aboutIcon {
	font-size: 2vw;
	text-align: center;
	display: block;
	margin-top: 25px;
}

.shadow {
	box-shadow: 10px 10px grey;
}

.projectRow {
	max-height:300px;
}

.otherProjectDescription {
	padding-top:50px;
}

.projectPicture {
	max-height:300px;
	max-width:300px;
	height:100%;
}